* {
 box-sizing: border-box;
}

body {
 font-family: 'Open Sans', sans-serif;
 color: #240b36;
 background: #F0C27B;
 /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);
 /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #4B1248, #F0C27B);
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 min-height: 100vh;
}

.wrapper {
 display: grid;
 margin: 0 auto;
 padding: 50px 0 50px 0;
 width: 80vw;
 grid-template-columns: 2fr 10fr;
 grid-template-rows: 0.2fr 6fr 0.5fr;
}

.header {
 grid-column: 1/3;
 background-color: white;
 display: flex;
 padding: 0 20px;
}

.side_nav {
 grid-column: 1/2;
 grid-row: 2/4;
 background-color: #333333;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

ul {
 list-style: none;
 padding: 0;
}

.bou {
 height: 50px;
 padding: 15px 10px;
 margin: 10px 0;
}

a {
 text-decoration: none;
 color: aliceblue;
}

span {
 font-size: 17px;
 padding-left: 15px;
}

.searchbox {
 flex: 0 0 40%;
 display: flex;
 align-items: center;
 background-color: #F2F0F0;
 justify-content: center;
 border-radius: 100px;
 margin: auto;
 width: 50%;
 height: 40px;
}

input {
 border: none;
 font-size: 20px;
 outline: none;
 width: 90%;
 background-color: #F2F0F0;
}

.search {
 outline: none;
 border: none;
 background-color: #F2F0F0;
}

.bod {
 background: #8e9eab;
 /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
 /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #eef2f3, #8e9eab);
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 display: grid;
 grid-template-rows: 2fr 3.5fr;
 padding: 20px 20px;
}

.footer {
 grid-row: 3/-1;
 grid-column: 2/3;
 text-align: center;
 background-color: white;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 2fr;
 grid-gap: 10px;
 padding: 10px 30px;
}

.overview {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 3fr 1fr;
 grid-gap: 10px;
}

.title {
 grid-column: 1/-1;
 background-color: #F2F0F0;
}

.fo {
 background-color: #912537;
 border-radius: 10px;
}

.detail {
 padding: 20px 20px;
 display: grid;
 grid-template-columns: 2fr 1fr;
 grid-gap: 50px;
}

.comments {
 display: grid;
 grid-template-rows: 3fr 3fr 0.8fr;
 grid-gap: 5px;
}

p {
 margin-bottom: 30px;
 line-height: 1.5em;
 font-size: 17px;
}

.use {
 float: right;
 margin: auto 0;
}

.not {
 margin: auto 15px;
 position: relative;
}

img {
 margin: auto 0;
}

.num {
 position: absolute;
 text-align: center;
 justify-content: center;
 margin: 0;
 padding: 3px 0;
 top: -7px;
 right: -7px;
 width: 1.7em;
 height: 1.7em;
 color: white;
 background-color: #912537;
 border-radius: 50%;
 font-size: .7em;
 -webkit-box-pack: center;
}

.thumb {
 width: 100%;
 height: 100%;
 z-index: -1;
}

.fenway {
 background: url(https://amandaswinhart.files.wordpress.com/2012/05/20120514_as_sea_ga_0016.jpg);
}

.aquarium {
 background: url(http://amtrakdowneaster.com/sites/default/files/lander-images/aquarium.jpg);
}

.back {
 background-size: 100% 100%;
 background-repeat: no-repeat;
 padding: 210px 10px 0 10px;
}

.thu {
 border-radius: 50px;
 float: left;
 margin-right: 10px;
}

a {
 color: #240b36;
}

h4 {
 color: #240b36;
 font-weight: normal;
 margin-right: 70px;
}

h2 {
 margin-left: 10px;
 font-weight: normal;
 float: left;
}

h5 {
 color: white;
 margin: 0 auto;
 font-weight: normal;
 font-size: 15px;
}

.area {
 font-size: 11px;
 padding: 0;
}

.attractions {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 2fr 0.5fr 0.5fr;
 grid-gap: 10px;
 border-top: 1px solid rgba(128, 128, 128, 0.144);
 padding: 0 30px;
}

.moree {
 grid-column: 1/-1;
 text-align: center;
 margin: auto auto;
 font-size: 20px;
}

.tor {
 margin: 0;
 padding: 10px 10px;
}

.tor::before {
 mask-image: url(assets/images/next.svg);
 mask-size: cover;
 background-image: none;
}

.tor::before {
 content: "";
 display: inline-block;
 height: 1em;
 width: 1em;
 margin-right: 0.4em;
 background-image: url(assets/images/next.svg);
 background-size: cover;
}

.men {
 color: aliceblue;
}

.description {
 box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
 background-color: #D7DBE0;
 padding: 30px 30px;
}

.rec {
 justify-content: center;
 border-top: 1px solid rgba(128, 128, 128, 0.144);
 grid-column: 1/-1;
 display: flex;
 flex-direction: row;
 margin: 10px auto;
 width: 100%;
}

.title {
 display: flex;
 margin: 0 auto;
 width: 100%;
 justify-content: space-between;
 padding-right: 40px;
}

.loc {
 border: 3px solid #D7DBE0;
 border-radius: 50px;
 margin-right: -15px;
 width: 50px;
 height: 50px;
}

.rev {
 margin: auto 15px;
}

.revi {
 font-size: 12px;
 padding: 0
}

.opi {
 display: flex;
 float: right;
}

.more {
 margin: auto;
}

.but {
 color: white;
 background: #912537;
 padding: 10px 10px;
 font-weight: normal;
 font-size: 15px;
 border-radius: 3px;
 border: none;
}

.foo {
 margin: 3px auto;
 font-weight: lighter;
}

.sign {
 text-align: center;
 margin: 15px auto;
}

.sub {
 display: flex;
}

.subi {
 margin: auto auto;
}

.design {
 text-align: center;
 margin-bottom: 25px;
}