* {
 box-sizing: border-box;
}

body {
 font-family: 'Roboto', sans-serif;
 background-color: indianred;
 min-height: 100vh;
}

.wrapper {
 display: grid;
 margin: 0 auto;
 padding: 50px 0 50px 0;
 width: 70vw;
 grid-template-columns: 2fr 10fr;
 grid-template-rows: 1fr 10fr 1.5fr;
}

.header {
 grid-column: 1/3;
 background-color: white;
 display: flex;
 padding: 0 20px;
}

.side_nav {
 grid-column: 1/2;
 grid-row: 2/4;
 background-color: #333333;
}

ul {
 list-style: none;
 padding: 0;
}

li {
 height: 50px;
 padding: 15px 10px;
 margin: 10px 0;
}

a {
 text-decoration: none;
 color: aliceblue;
}

span {
 font-size: 17px;
 padding-left: 15px;
}

.searchbox {
 flex: 0 0 40%;
 display: flex;
 align-items: center;
 background-color: #F2F0F0;
 justify-content: center;
 border-radius: 100px;
 margin: 20px auto;
 width: 50%;
 height: 40px;
}

input {
 border: none;
 font-size: 20px;
 outline: none;
 width: 90%;
 background-color: #F2F0F0;
}

.search {
 outline: none;
 border: none;
 background-color: #F2F0F0;
}

.bod {
 background-color: lightgrey;
 display: grid;
 grid-template-rows: 2fr 3.5fr;
 padding: 20px 20px;
}

.footer {
 grid-row: 3/-1;
 grid-column: 2/3;
 text-align: center;
 background-color: white;
}

.book {
 width: 200px;
 height: 60px;
 font-size: 20px;
 color: lightgray;
 margin: 30px auto;
 border: none;
 background-color: red;
 border-radius: 100px;
}

.overview {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 3fr 1fr;
 grid-gap: 10px;
}

.title {
 grid-column: 1/-1;
 background-color: #F2F0F0;
}

.fo {
 background-color: red;
 border-radius: 10px;
}

.detail {
 padding: 20px 20px;
 display: grid;
 grid-template-columns: 2fr 1fr;
 grid-gap: 50px;
}

.comments {
 display: grid;
 grid-template-rows: 3fr 3fr 1fr;
 grid-gap: 5px;
}

p {
 margin-bottom: 40px;
}

.use {
 float: right;
 margin: auto 0;
}

.not {
 margin: auto 15px;
 position: relative;
}

img {
 margin: auto 0;
}

.num {
 position: absolute;
 text-align: center;
 justify-content: center;
 margin: 0;
 padding: 3px 0;
 top: -7px;
 right: -7px;
 width: 1.7em;
 height: 1.7em;
 color: white;
 background-color: red;
 border-radius: 50%;
 font-size: .7em;
 -webkit-box-pack: center;
}

.thumb {
 width: 100%;
 height: 100%;
 z-index: -1;
}

.fenway {
 background: url(http://amtrakdowneaster.com/sites/default/files/lander-images/aquarium.jpg);
}

.aquarium {
 background: url(https://amandaswinhart.files.wordpress.com/2012/05/20120514_as_sea_ga_0016.jpg);
}

.back {
 background-size: 100% 100%;
 background-repeat: no-repeat;
 padding-top: 150px;
 padding: 150px 20px 0 20px;
}

.thu {
 border-radius: 50px;
 float: left;
}

h3 {
 color: white;
}